body{
    background-color: cadetblue;
}

h1{
color: darkorchid;
background-color: darksalmon;
}

#sketch{
 float: right;
}

canvas{
    border : 5px solid whitesmoke;
    border-radius : 25px;
    animation-name: example;
    animation-duration : 4s;
    margin-top: 50px;
    animation-iteration-count: 100000000000000000000000000000000000000000000000;
}

@keyframes example {
from{box-shadow: 1px 1px 38px lightcoral;}
to{box-shadow: 1px 1px 38px darkmagenta;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}